.whychooseus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.whychooseus div{
    width: 150px;
    text-align: center;

}
.whychooseus h1{
    color: #45b44d;
    font-size: 4.3rem;
}
.whychooseus span{
    color: #252525;
    font-size: 0.9rem;
}