.product-section{
    margin-top: 70px;
}
.product-section-card{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.product-section h2{
    font-size: 25px;
    color: #252525;
    font-weight: 500;
}